<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title || "Recipe Organizer" %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/build.css" />
  </head>

  <body class="bg-gradient-to-br from-lime-100 to-amber-100 min-h-screen font-sans">
    <%- include('../partials/header') %>

    <main class="max-w-3xl mx-auto py-12 px-4">
      <%- body %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
